{
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "insertPragma": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "editor.formatOnSave": true,
  "editor.formatOnPaste": true,
  "useTabs": false
}
